

<footer class="footer">
  <div id="datos">
      <p>Av Emilio Civit 455 </p>
      <p> Telefono: 261 4235456</p>
      <p>info@bodegasmdz.com</p>
  </div>

  <div id="redes">
      <ul class="social-icons" type="none">
     <li> <a href= "https://twitter.com" target="blank"><i class="fa-brands fa-twitter"><fa-icon [icon]="faTwitter"></fa-icon></i></a></li>

      <li><a href="https://instagram.com"target="blank"><i class="fa-brands fa-instagram"><fa-icon [icon]="faInstagram"></fa-icon></i></a></li>

      <li><a href="https://facebook.com"target="blank"><i class="fa-brands fa-facebook"><fa-icon [icon]="faFacebook"></fa-icon></i></a></li>

      <li><a href="https://pinterest.com" target="blank"><i class="fa-brands fa-pinterest"><fa-icon [icon]="faPinterest"></fa-icon></i></a></li>
  </ul>
  </div>
</footer>
