

<footer class="footer">
  <div id="datos">
      <p>Av Emilio Civit 455 </p>
      <p> Telefono: 261 4235456</p>
      <p>info@bodegasmdz.com</p>
  </div>

  <div id="redes">
      <ul class="social-icons" type="none">
     <li> <a href= "https://twitter.com" target="blank"><i class="fa fa-twitter"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></i></a></li>

      <li><a href="https://instagram.com"target="blank"><i class="fa fa-instagram"></i></a></li>

      <li><a href="https://facebook.com"target="blank"><i class="fa fa-facebook"></i></a></li>

      <li><a href="https://pinterest.com" target="blank"><i class="fa fa-pinterest"></i></a></li>
  </ul>
  </div>
</footer>
